@import url("./fonts.css");
@import url("./normalize.css");
@import url("./reset.css");
@import url("./fontello.css");
@import url("./module.css");

/* 숨김 콘텐츠 */
.a11y-hidden, legend {
  
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* polygon */
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본스타일 앞으로 등장하는 모든 것은 보더박스로 사용*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
/* 링크스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 본문 스타일 */
body {
  color: #212121;
  font-size: 1.4rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  /* background-color: #ccc;
  background-image: url("./images/bg_flower.png"), linear-gradient(to bottom, #ccc, 0%, #eee, 35%, #efefef, 70%, #fff 100%);
  background-repeat: no-repeat, rpeat;
  background-position: 50% 0, 0 0; */

  /* 단축표기법 */
  background: url("./images/bg_flower.png") no-repeat 50% 0,
    #ccc
      linear-gradient(to bottom, #ccc, 0%, #eee, 35%, #efefef, 70%, #fff 100%)
      repeat 0 0;
}
/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background: white;
  padding: 0 30px;
  border-radius: 0px 0px 15px 15px;
  position: relative;
  /* 2. 로고 기준잡아주고 */
}
/* 로고 */
.logo {
  position: absolute;
  /* 1. 로고 포지션 잡아주고 */
  top: 45px;
  left: 60px;
  /* 로고를 위에 띄우기: 마크업순서에서 기본적으로 0으로 지정, 여유롭게 하기 위해서 숫자를 넉넉하게 부여, static이 아닐경우 가능 */
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  /* position 속성을 활용하여 . member 영역을 오른쪽으로 10px 만큼 이동하기 */
  /* position: relative;
  right: -10px; */

  /* transform 속성을 활용하여 . member 영역을 오른쪽으로 10px 만큼 이동하기 */
  transform: translateX(10px);
}

.member li {
  /* background-color: pink;  */
  display: inline-block;
}

.member a {
  /* background-color:coral; */
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}
/* 마지막 li요소에 포함된 a요소를 선택하여 오른쪽 패딩값을 0으로 재정의 */
/* .member li:last-child a{
  padding-right: 0;
} */

.divider {
  margin-right: 4px;
}

/* 메인메뉴 */
.navigation {
  padding-bottom: 40px;
}

.menu {
  border-top: 2px solid currentColor;
  background: #e85e2c
    linear-gradient(
      to bottom,
      #1e5799 0%,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%
    );
  border-radius: 0 0 5px 5px;
  /* 높이를 고정했기 때문에 flow root 필요 X */
  /* display: flow-root; */
  padding-left: 230px;
  /* border 2px포함 47px로  */
  height: 47px;
  /* 메뉴바 기준 */
  position: relative;
  /* 밑에 가면 .menu-accessibility, .menu-qna, .menu-archive 세가지는 right를 0으로 지정 */
}

.menu > li:nth-child(-n + 3) {
  /* li기준 */
  position: relative;
  /* 밑에 가면 .menu-html, .menu-css, .menu-standards 세가지는 left를 0으로 지정 */
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
}
/* 구체성 점수 -> 20점 */
.menu-button {
  border: 0;
  background: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성점수 -> 10점 */
.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}

/* 서브메뉴 */
.sub-menu {
  /* 포지션이 absolute면 모든 요소들이 inline-block으로 변함 */
  position: absolute;
  display: none;
  top: 47px;
  padding: 4px 0;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}
.sub-menu li {
  display: inline-block;
}

.sub-menu a::before {
  content: "\e805";
  font-family: "fontello";
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: "\e801";
}

.sub-menu a {
  /* background-color:#1e5799; */
  display: inline-block;
  padding: 6px 0;
}
.sub-menu a:hover,
.sub-menu a:focus {
  color: red;
}

/* 비주얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    /* transform버전 */
    /* transform: scale(0.5); */

    color: rgba(0, 0, 0, 0.2);
    /* padding: 0; */

    /* postion으로 글자이동 */
    /* top: 0;
    left: 0; */

    /* transform으로 글자이동 */
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    /* transform버전 */
    /* transform: scale(1); */
    
    color: rgb(0, 0, 0, 1);
    
    /* padding사용 가능하지만 reflow를 발생시켜 성능을 저하시킴 */
    /* padding: 75px 0 0 400px; */
    
    /* postion으로 글자이동 */
    /* top: 75px;
    left: 400px; */
    
    /* transform으로 글자이동 */
    transform: translate(400px, 75px);
  }
}


@keyframes fadeEffect {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


.visual {
  height: 120px;
  /* postion absolute || transform으로 글자이동 */
  position: relative;
}

.visual::before,
.visual::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* animation-name: fadeEffect;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; */

  animation:fadeEffect 4000ms infinite alternate;
}


.visual::before {
  background: url("./images/ani_flower_01.png") no-repeat 0 40%,
    url("./images/ani_flower_02.png") no-repeat 600px 0;
    
}
.visual::after {
  /* background-color: pink; */
  background: url("./images/ani_flower_03.png") no-repeat 300px 0,
    url("./images/ani_flower_04.png") no-repeat 800px 0;
    animation-delay: 2000ms;
}

.visual-text {
  
  /* postion으로 글자이동 */
  /* position: relative; */

  /* postion absolute로 글자이동 + 스크롤바 제어 */
  /* position: absolute; */

  font-family: Georgia, "Times New Roman", Times, serif;

  animation: moveEffect 400ms forwards ease-in-out;

  z-index: 1;
  position: relative;
  display: inline-block;
  /* display block에서 inline-block으로 변경시켜서 스크롤바 생성 제어 */
  /* display: inline-block; */

  /* transform으로 글자이동 */
  /* font-size: 24px;
  transform-origin: left top; */
}
/* 메인 */
.main {
  background: #fff;
  min-height: 450px;
  display: flow-root;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}

.group {
  margin: 0 15px;
  float: left;
}
.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}
/* 로그인 */

.login {
  box-sizing: border-box;
  box-shadow: 5px 5px 0 0 #ccc;
  background: coral radial-gradient(circle at right top, orange, orangered);
  border-radius: 5px;
  padding: 10px;
  

}
.user-email, .user-pw{
 margin-bottom: 5px; 
}

.login-title {
  color: yellow;
  font-size: 15px;
  font-weight: 700;
  text-indent:10px;
}
.login-form{
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0px 10px;
}
.login-form fieldset{
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}
.login-form label {
  /* 폰트크기 14*4 */
  width: 56px; 
  display: inline-block;
}
.sign{
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* padding-top: 5px; */
  font-size: 13px;
}
.sign a {
  display: block;
  padding: 6px 0;
  letter-spacing: -1px;
}
.sign a::before{
  content: '\e804';
  color: #e85e2c;
  margin-right: 8px;
  font-family: "fontello";

}

.login-form input{
  width: 90px;
  height: 24px;
  border:1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 5px;
}
.button-login{
  position: absolute;
  top: 0;
  right: 0;
  height: 53px;
  background-color: orangered;
  color: white;
  border:0;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 13px;
}
/* 유효성 검사 배너 */

.validation-list{
margin-top: 25px;
}



.validation-list li {
  margin-top: 10px;
}
.validation-list a{
  display: block;
  border-radius: 30px;
  border:1px solid #ccc;
  padding: 8px 15px 8px 50px;
  background:  url("./images/validation_icon.png") no-repeat 25px 50%, linear-gradient(to bottom, #bbbbbb, #e6e6e6) ;
}

.validation-list a:hover, .validation-list a:focus{
  color: red;
}



/* 웹관련 용어 */

.term {
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
}

.term-title {
  background-color: pink;
  font-size: 1.5rem;
  font-weight: 700;
}

.term-list{
  margin-top: 10px;
}

.term-list div {
  background-color: lime;
  margin-top: 10px;
  display: flow-root;
}

.term-list-subject {
  background-color: lavenderblush;
  color: #296897;
  font-size: 500;
}

.term-list-thumbnail {
  float: left;
}

.term-list-thumbnail img {
  vertical-align: middle;
}
.term-list-brief{
  background-color: lightblue;
  margin-top: 5px;
  line-height: 1.5;
}
.term-list-subject,.term-list-brief {
  float: right;
  width: 145px;
}
.cross .term-list-thumbnail {
  float: right;
}
.cross .term-list-subject, .cross .term-list-brief{
  float: left;
}

/* 검색 폼*/
.search-form{
  background: #ccc linear-gradient(to bottom, #ccc, #eee);  
  border: 1px solid #ccc;
  border-radius: 15px 15px 0 0;  
  padding: 15px 25px 10px;
}
.search-form-inner {
  background-color: #296897;
  display: flex;
  flex-flow: row nowrap;
}
.form-group{
    /* flex shirink 된 개체외의 요소를 확대하기위해 */
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 10px;
}
.form-group-label{
  white-space: nowrap;
  margin-right: 10px;
  /* 축소되지않게 원본컨텐츠 크기 그대로 유지 */
  flex-shrink: 0;
}

.form-group-input{
  /* flex shirink 된 개체외의 요소를 확대하기위해 */
  /* flex-grow: 1; */
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  padding: 1px 1px 1px 5px;
  /* 크로스브라우징 문제 해결 */
  min-width: 0;
  width: 100%;
  /* 크로스브라우징 문제 해결 */
  font-size: 1.3rem;
}

.search-button{
background-color: #000;
color: white;
height: 24px;
border: 0;
border-radius: 3px;
padding: 0 10px;
font-size: 1.2rem;
  /* 축소되지않게 원본컨텐츠 크기 그대로 유지 */
flex-shrink: 0;
}



/* 공지사항 및 자료실 */
.board {
  margin-top: 20px;
  position: relative;
}

.tab-pannel{
  display: none;
  margin-top: 15px;
}
.is-select.tab-pannel {
  display: block;
}
.board-list li{
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.board-list a{
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board-list time{
  flex-shrink: 0;
  margin-left: 10px;
}
.board-more{
  position: absolute;
  /* padding을 고려해서 */
  right: -8px;
  top:-8px;
  /* 키보드 접근시 클릭할 수 있는 영역을 넓게 설정 */
  padding: 8px;
}
.icon-plus::before{
  color:hsla(110, 50%, 30%,1)
}
.tab-list{
  display: flex;
  flex-flow: row nowrap;
}
.is-select.tab{
  background-color: #fff;
  color: orangered;
  border-color: currentColor currentColor #fff currentColor
}

.tab{
  border: 1px solid grey;
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  color: #333;
}


/* 새소식 */

.news {
  margin-top: 20px;
  position: relative;
}

.news::before{
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 1px;
  background:#aaa linear-gradient(to right, #ccc, #fff);
}
.news-title{
  font-size: 1.5rem;
  font-weight: 700;
}
.news-link{
display: block;
}

.news-item{
margin-top: 35px;
position: relative;
padding-left: 150px;
}

.news-item-title{
font-weight: 500;

}
.news-item-date{
display: block;
margin: 5px 0 10px;
}

.news-item-brief{
line-height: 1.5;
}

.news-item-thumbnail{
position: absolute;
top: 2px;
left: 0;
text-align: center;
}
.news-item-thumbnail img {
  box-shadow: 0 15px 10px 5px #ccc;
  margin-bottom: 15px;
}
.news-more{
  /* background-color: lawngreen; */
 position: absolute;
top: -8px;
right: -8px;
padding: 8px;
}

/*신규 이벤트 및 관련 사이트 */
.event{
  border-bottom: 1px solid #aaa;
}
.event-button-wrapper{
  /* background-color: yellow;  */
  height: 18px;
}

.event-title{
  display: inline-block;
  /* float: left; */
}

.event-button-wrapper{
  /* padding IR기법 */
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;

  float:right;
}

/* IR기법... => image Replacement */
.event-button{
  width: 19px;
 height: 100%;
 border: 0;
 padding: 0;
 background-image: url("./images/back_forward.png");

 /* padding IR기법 */
 padding: 18px 0 0 0;

 /* indent IR기법 */
 /* overflow: hidden;
 text-indent: -9em; */
}


.event-button-prev{
 background-position: left;
}
.event-button-next{
  background-position: right;
}

.event-button:focus {
  outline-offset: -2px;
}

.event-thumbnail, .event-brief{
  margin: 10px 0;
}

.event-thumbnail img {
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #ccc;
}

.event-brief{
  line-height: 1.5;
}


.related{
  margin-top: 10px;
}
.related-list{
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 ;
  height: 27px;

  transition-property: height, padding;
  transition-duration: 400ms, 400ms;
  transition-delay: 0ms,400ms
/* 
  transition-property: background-color, border-radius;
  transition-duration: 2000ms, 2000ms;
  transition-delay: 0ms,1000ms; */
}
.related-list:hover, .related-list:focus{
  background-color: orange;
  height: 147px;
  padding-top: 10px;
}

.related-list li{
  height: 25px;
display: flex;
flex-flow: row nowrap;
align-items: cneter;
padding: 0 5px;
}

.related-list a{
  flex-grow: 1;
  padding: 0px 10px;
  line-height: 25px;
}

/* 인기 사이트 */
.favorite{
  /* background-color: pink; */
  position: relative;
}
.favorite-list{
  background-color: yellow;
  list-style-type: none;

}
.favorite-list li{
  margin-top: 10px;
  counter-reset:10;
  counter-increment: number;
  background-color: pink;

  /* 가운데 맞추고 */
  display: flex;
  flex-flow: row nowrap;  
  align-items: center;
}
.favorite-list li::before{
  content: counter(number);
  background-color: #aaa;
  color:#fff;
  font-size: 1.2rem;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
  width: 1.5em;
  text-align: center;
  line-height: 1.5;

}
.favorite-list a{
  background-color: skyblue;
}

/* em태그 영역~ */
.up, .stop, .down{
  display: inline-block;
  width: 20px;
  height: 11px;
  background:lime url("./images/rank.png") no-repeat 100% 0%;

  /* 오른쪽으로 보내기 */
  position: absolute;
  right: 0;
  /* margin-left: auto; */
}
.stop{
                    /* X축 Y축 */
background-position: 100% 48%;
}
.down{
background-position: 100% 100%;
}

.favorite-list li{
  margin-top: 10px;
}

.favorite-more{
  position: absolute;
  top:-8px;
  right: -8px;
  padding: 8px;
}



/* 슬로건 */
.slogan {
  background: #ffe3e3;
  height: 10vh;
  clear: both;
  /* margin-top: 150px; */
}
/* 푸터 */
.footer {
  background: #ccc
  linear-gradient(to bottom, #ccc, 0%, #eee, 35%, #efefef, 70%, #fff 100%);
;
}
.footer-inner {
  height: 15vh;
  background: silver;
}