@import url("./normalize.css");
@import url("./reset.css");
/* 기본스타일 앞으로 등장하는 모든 것은 보더박스로 사용*/
*, *::before, *::after {
  box-sizing: border-box;
}
/* 본문 스타일 */
body {
  background: #f8f0fc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background: #dbe4ff;
  padding: 0 30px;
  height: 15vh;
}
/* 비주얼 */
.visual {
  background: #d0bfff;
  height: 10vh;
}
/* 메인 */
.main {
  background: #e6fcf5;
  min-height: 450px;
  display: flex;
  flex-flow: row norwrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

.group1{
  background: violet;
  width: 250px;
}
.group2{
  background: salmon;
  width: 380px;
}
.group3{
  background: gold;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: #ffe3e3;
  height:10vh;
  clear: both;
}
/* 푸터 */
.footer {
  background: gray;
}
.footer-inner {
  height: 15vh;
  background: silver;
}