@import url("./fonts.css");
@import url("./normalize.css");
@import url("./reset.css");

/* 숨김 콘텐츠 */
.a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* polygon */
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본스타일 앞으로 등장하는 모든 것은 보더박스로 사용*/
*, *::before, *::after {
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
/* 링크스타일 */
a{
  color: inherit;
 text-decoration: none;
}
/* 본문 스타일 */
body {
  color:#212121;
  font-size: 1.4rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
 
  /* background-color: #ccc;
  background-image: url("./images/bg_flower.png"), linear-gradient(to bottom, #ccc, 0%, #eee, 35%, #efefef, 70%, #fff 100%);
  background-repeat: no-repeat, rpeat;
  background-position: 50% 0, 0 0; */


  /* 단축표기법 */
  background:  url("./images/bg_flower.png") no-repeat 50% 0,
  #ccc linear-gradient(to bottom, #ccc, 0%, #eee, 35%, #efefef, 70%, #fff 100%) repeat 0 0;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background: white;
  padding: 0 30px;
  border-radius: 0px 0px 15px 15px;
  position: relative;
  /* 2. 로고 기준잡아주고 */
}
/* 로고 */
.logo{
  position: absolute; 
  /* 1. 로고 포지션 잡아주고 */
  top:45px;
  left:60px;
  /* 로고를 위에 띄우기: 마크업순서에서 기본적으로 0으로 지정, 여유롭게 하기 위해서 숫자를 넉넉하게 부여, static이 아닐경우 가능 */
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member{
  text-align: right;
  padding: 4px 0;
  /* position 속성을 활용하여 . member 영역을 오른쪽으로 10px 만큼 이동하기 */
  /* position: relative;
  right: -10px; */

  /* transform 속성을 활용하여 . member 영역을 오른쪽으로 10px 만큼 이동하기 */
  transform: translateX(10px);
}

.member li{
  /* background-color: pink;  */
  display: inline-block;
}

.member a{
  /* background-color:coral; */
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
  
}
/* 마지막 li요소에 포함된 a요소를 선택하여 오른쪽 패딩값을 0으로 재정의 */
/* .member li:last-child a{
  padding-right: 0;
} */

.divider{
  margin-right: 4px;
}



/* 메인메뉴 */
.navigation{
  padding-bottom: 40px;
}

.menu{
  border-top: 2px solid currentColor;
  background: #e85e2c
  linear-gradient(
    to bottom,
    #1e5799 0%,
    #ef9126 0%,
    #e85e2c 35%,
    #e85e2c 70%,
    #ef9126 100%
    );
  border-radius: 0 0 5px 5px;
  /* 높이를 고정했기 때문에 flow root 필요 X */
  /* display: flow-root; */
  padding-left: 230px;
  /* border 2px포함 47px로  */
  height: 47px;
  /* 메뉴바 기준 */
  position: relative;
  /* 밑에 가면 .menu-accessibility, .menu-qna, .menu-archive 세가지는 right를 0으로 지정 */
}


.menu > li:nth-child(-n+3) {
  /* li기준 */
  position: relative;
  /* 밑에 가면 .menu-html, .menu-css, .menu-standards 세가지는 left를 0으로 지정 */
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
}
/* 구체성 점수 -> 20점 */
.menu-button{
  border: 0;
  background: transparent;
  padding:0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color:#fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성점수 -> 10점 */
.is-active .menu-button{
  color:#ff0;
}

.is-active .menu-button::after{
  content: "";  
  display: block;
  border-top: 2px solid #000;
}







/* 서브메뉴 */
.sub-menu{
  /* 포지션이 absolute면 모든 요소들이 inline-block으로 변함 */
  position: absolute;
  display: none;
  top: 47px;
  padding: 4px 0;
}


.menu-html, .menu-css, .menu-standards{
  left: 0;
}

.menu-accessibility, .menu-qna, .menu-archive {
  right: 0;
}

.is-active .sub-menu{
display: block;
white-space: nowrap;
}
.sub-menu li {
  display: inline-block;
}

.sub-menu a::before {
  content: "\e805"; 
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.sub-menu a:hover::before,
.sub-menu a:focus::before{
  content: "\e801";
}

.sub-menu a {
  /* background-color:#1e5799; */
  display: inline-block;
  padding: 6px 0;
}
.sub-menu a:hover,
.sub-menu a:focus {
  color: red;
}








/* 비주얼 */
@keyframes moveEffect{
  0%{
    font-size: 12px;
    /* transform버전 */
    /* transform: scale(0.5); */

    color:rgba(0,0,0,0.2);
    /* padding: 0; */

    /* postion으로 글자이동 */
    /* top: 0;
    left: 0; */
    
    /* transform으로 글자이동 */
    transform: translate(0, 0);
    
  }
  100%{
    font-size: 24px;
    /* transform버전 */
    /* transform: scale(1); */
    
    color:rgb(0, 0, 0, 1);

    /* padding사용 가능하지만 reflow를 발생시켜 성능을 저하시킴 */
    /* padding: 75px 0 0 400px; */

    /* postion으로 글자이동 */
    /* top: 75px;
    left: 400px; */

    /* transform으로 글자이동 */
    transform: translate(400px, 75px);
  }
}
.visual {
  height: 120px;
   /* postion absolute || transform으로 글자이동 */
    position: relative;
}

.visual-text{
  /* postion으로 글자이동 */
  /* position: relative; */

  /* postion absolute로 글자이동 + 스크롤바 제어 */
  position: absolute;

  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: moveEffect;
  animation-duration: 2000ms;
  /* 애니메이션을 채우는 모드가 끝난 상태로 */
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  /* display block에서 inline-block으로 변경시켜서 스크롤바 생성 제어 */
  /* display: inline-block; */

   /* transform으로 글자이동 */
  /* font-size: 24px;
  transform-origin: left top; */
}
/* 메인 */
.main {
  background: #e6fcf5;
  height: 50vh;
  /* float: left;/ */
  display: flow-root;
  padding: 0 15px;

}

.group{
  margin: 0 15px;
  float: left;
}
.group1{
  background: violet;
  width: 250px;
}
.group2{
  background: salmon;
  width: 380px;
}
.group3{
  background: gold;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: #ffe3e3;
  height:10vh;
  clear: both;
  /* margin-top: 150px; */
}
/* 푸터 */
.footer {
  background: #ccc linear-gradient(to bottom, #ccc, 0%, #eee, 35%, #efefef, 70%, #fff 100%);
}
.footer-inner {
  height: 15vh;
  background: silver;
}